<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Create your poll</title>

      <% include ./partials/_header %>


      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <style>
      .option { list-style-type: none; margin: 10px; margin-left: 20%; margin-right: 20%; width: 50%; }
      .option li { margin: 10px 3px 3px 3px; padding: 0.4em; font-size: 1.2em; height: 2em; width: 100%; }

      </style>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
        $( function() {
          $( "#sortable" ).sortable();
          $( "#sortable" ).disableSelection();
        } );
      </script>

  </head>

  <body>
    <nav id="nav-bar">
      <span class="header">Askie</span>
      <div class="container-fluid"></div>
    </nav>

      <form class="poll" action="/poll/<%=url%>" method="post">
        <input type="hidden" value="<%=poll_id%>" name="poll_id">
        <input type="hidden" value="<%=url%>" name="url">
        <h4>Re-arrange the items below in order of your preference</h4>
        <p>(drag and drop them)</p>
        <h4 name="question">
          Question:
          <%= question %>
        </h4>
        <h4>Options:</h4>

        <% for (let i in options) { %>
          <ul id="place<%=i%>" class="option" ondrop="drop(event)" ondragover="allowDrop(event)">
            Place <%= Number(i) + 1 %>
            <li id="drag<%=i%>" optionId="<%=options[i].id%>" class="option-element ui-state-default option" draggable="true" ondragstart="drag(event)">
              <%= options[i].name %> <span style="float: right; font-size: 0.7em; color: #BBB;">Drag me</span>
            </li>
          </ul>
        <% } %>
        <div style="text-align: center; margin: 5%;">
        <input class="button" type="submit" value ="make your choice!">
      </div>
    </form>

        <% include ./partials/_footer %>
      <!-- <script type="text/javascript" src="/scripts/create.js"> -->
      <!-- TODO: do not forget to add the script above again -->
  </body>
</html>
