<!DOCTYPE html>
<html lang="en">
<head>
  <title>Poll Results</title>
  <% include ./partials/_header %>
</head>
<body>
    <div style="text-align: center; margin: 15%">
    <h2>The question: <%= question %></h2>
    <h1 class="heading">...and the winner is:</h1>
    <div class="poll_results"></div>
      <div id="results-container" class="row">
        <% for (let i in options) { %>
          <div class="col-sm-12">
            <div class="progress-outer">
              <div class="progress">
                <div id="option<%= options[i].id %>" class="progress-bar progress-bar-info active <%= options[i].judgement %>" style="width: <%= options[i].score %>%; box-shadow:-1px 10px 10px rgba(91, 192, 222, 0.7);">
                  <%= options[i].name %>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
      <p id="vote-message"><%= voteMessage %></p>
    </div>
  </div>
</div>
  <!-- <div style="text-align: center"> -->
    <input id="create-button" class="button btn btn-primary btn-lg btn3d" value="Create a new askie?">
  </div>
  <% include ./partials/_footer%>
  <script type="text/javascript" src="/scripts/refresh-results.js"></script>
  </body>
</html>
