<!DOCTYPE html>
<html lang="en">
<head>
  <title>Poll Results</title>

  <% include ./partials/_header %>

</head>

<body>
  <nav id="nav-bar">
    <span class="header composer">Askie</span>
    <div class="container-fluid"></div>
  </nav>

  <div style="text-align: center; margin: 20%">
    <h1 class="heading" style="margin: 10%">Vote Results</h1>
      
    <h2><%= question %></h2>
    <div class="poll_results">
      <p id="vote-message"><%= voteMessage %></p>
      <div id="results-container" class="row">
        <% for (let i in options) { %>
          <div class="col-sm-12">
            <div class="progress-outer">
              <div class="progress">
                <div id="option<%= options[i].id %>" class="progress-bar progress-bar-info active <%= options[i].judgement %>" style="width: <%= options[i].score %>%; box-shadow:-1px 10px 10px rgba(91, 192, 222, 0.7);">
                  <%= options[i].name %>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
  <!-- <div style="text-align: center"> -->
    <br>
    <input id="create-button" class="button btn btn-primary btn-lg btn3d" value="Create a new askie?">
  </div>
  <script type="text/javascript" src="/scripts/refresh-results.js"></script>
    <% include ./partials/_footer%>

  </body>

</html>
